.intro {
    margin-top: 3vw;
    text-align: center;
    font-family: tinos;
    font-size: 1.2em;
}

#banner {
    background-color: #CD4631;
    justify-content: center;
    position: absolute;
    width: 100%; 
    top:0;
    height: 20vh;
    align-items: center;
}

#ban_title {
    font-family: ephesis;
    font-size:5vw;
    color: #000000;
    text-align: center;
    padding-top: 8vw;
    position: relative;
    
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}


#start {
    margin-top: 10em; 
    align-items: center;
}

.glow {
    /* border: 1px solid rgb(18, 18, 18); */
    box-shadow: 0 0 1em #CD4631;
}

.default {
  list-style: none; 
  padding: 0;
  font-family: tinos;
}


.default li::before {
  content: ""; 
}

.default li b {
    font-weight: bold; 
    color: #CD4631;
}

.row {
  justify-content: flex-start; /* Ensures the content is aligned to the left */
}

p {
    font-family:tinos;
    font-size: 1.1em;
}

a {
    font-family:tinos;
    font-size: 1.2em;
    color:#4F9D69;
}

a:hover {
    color:#CD4631;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin {
    animation: spin 5s linear;
}